#section-about {
  position: relative;

  .video--wrapper {
    height: 500px;
    background-image: url('/assets/video-bg.jpg');
    background-position: center center;
  }

  .text {
    h2 {
      color: #ffffff;
      margin-bottom: 0;
    }
    i {
      font-size: 40px;
      color: #ffffff;
      border-radius: 9999px;
      border: solid 2px white;
      width: 64px;
    }
    text-align: center;
    @include vertical-center();
  }
}
