/// The Nav Color Mixin
/// @param $color - the text color
/// @param {number} $child [false] - the `nth-child`
@mixin nav-color($color, $child:false) {
  @if $child {
    li:nth-child(#{$child}) {
      & a {
        color: $color;
        &:hover {
          color: $color;
        }
        &>div {
          color: $color;
        }
      }
    }
  } @else {
    li {
      & a {
        color: $color;
        &:hover {
          color: $color;
        }
        &>div {
          color: $color;
        }
      }
    }
  }
}

/// Static Nav Height - sticky nav menu will not change height when you scroll. Over writes canvas.
/// @group effect
/// @example #wrapper { @include static-nav-menu(); }
@mixin static-nav-menu() {
  #header.sticky-header:not(.static-sticky),
  #header.sticky-header:not(.static-sticky) #header-wrap,
  #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height: 100px;
  }
  #header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    padding-top: 39px;
  }
  #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    transform: translateY(15%);
  }
}

/// Sticky Header - in case the header sticky has been edited in canvas, this is the original code that will stick your header to the top
/// @group effect
/// @example body { @include sticky-nav(); }
@mixin sticky-nav() {
  #header.sticky-header #header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
}


#header {

  width: 100%;
  font-family: $ff-open;
  font-weight: 700;
  position: absolute;


  #primary-menu-trigger {
    font-size: 30px;
    pointer-events: auto;
  }
  #header-wrap {
    border-bottom: 0;
    background-color: rgba($c-white, 0);
  }

  // On scroll down
  &.sticky-header {
    #header-wrap {
      background-color: rgba($c-white, 1);
    }

  }

  #logo {
    padding-right: 0;
    margin-right: 0px;
    border-right: none;
    img {
      margin-top: -10px;
      padding-left: 40px;
      height: auto !important;
    }
    div {
      display: inline-block;
    }

    // Additional name info next to logo
    .additional-name {
      display: inline-block;
      padding-top: 40px;
      padding-left: 20px;

      p{
        border-left: solid 2px #ffffff;
        padding-left: 20px;
        color: #ffffff;
        line-height: 1.5;
        margin-bottom: 0;
        font-family: $ff-open;
        font-weight: 400;
        font-size: 16px;
      }
    }

  }

  //floating nav styling
  #primary-menu {
    margin-top: 20px;
    margin-right: 20px;
    background-color: #365B79;
    float: right;
    padding: 30px 15px;
  }

  #primary-menu > ul {
    margin-right: 0;
    border-right: none;

    @include nav-color(#ffffff);
    @include nav-color(#65B6E5, 1);
    @include nav-color(#58DCEC, 2);
    @include nav-color(#B3F2F7, 3);
  }

  @media screen and (max-width: $width-md) {
    #logo {
      img {
        margin-right: 100%;
        //padding: $spacing-xs;
      }
    }
    #primary-menu-trigger {
      right: 0;
      left: inherit;
      color: #575757;
    }
    #primary-menu .show {
      background-color: $c-white;
    }
  }

}

//reset the height
#header, #header-wrap, #logo img {
  height: 100px;
  -webkit-transition: height .4s ease, opacity .3s ease;
  -o-transition: height .4s ease, opacity .3s ease;
  transition: height .4s ease, opacity .3s ease;
}

#primary-menu ul li > a {
  font-family: $ff-open;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: none;
  padding: 0 14px;
  @media screen and (max-width: 1300px) {
    font-size: 15px;
    padding: 27px 12px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: $width-lg) {
    font-size: 14px;
    letter-spacing: 0.7px;
    padding: 27px 8px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 1090px) {
    font-size: 13px;
  }
  @media screen and (max-width: 991px) {
    padding-left: 40px !important;
    font-size: 18px;
  }
  @media screen and (max-width: $width-sm) {
  }
  @media screen and (max-width: $width-xs) {
  }

}