
//Fix for insurance background on mobile
.mobile-insurance-fix {
  display: none;
  @media (max-width: $width-sm) {
    margin-top: -100px;
    display: block;
  }
}

#section-insurance {
  padding-top: 50px;
  background-image: url('/assets/insurance-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  @media (max-width: $width-sm) {
    background-color: #ffffff;
    background-image: none;
    text-align: center;
  }
  .sub-text {
    line-height: 1.2;
    &--last {
      margin-bottom: $spacing-lg;
    }
  }

  h1 {
    color: #63b5e6;
    margin-bottom: 0;
  }
  h3.t300 {
    color: #4688b4;
    margin-bottom: 45px;
  }
  h3 {
    color: #306fa2;
    line-height: 1;
  }
  h6 {
    color: #535353;
    line-height: 1.7;
    margin-bottom: 90px;
    @include font-size(18px, 18px, 16px, 16px, 13px);
  }
  a {
    margin-bottom: 60px;
  }
}
