#section-location {
  position: relative;
  
  .location-card--wrapper {
    background: rgba($c-white, 0.85);
    position: absolute;
    z-index: 10;
    width: 40%;
    height: 100%;
    
    @media screen and (max-width: $width-md) {
      position: relative;
      width: 100%;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
}

.location-card {
  margin: 30px 0;
  border-radius: 30px;
  font-family: $ff-lato;
  z-index: 0;
  @media (max-width: $width-md) {
    margin-bottom: 5px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0);
  }
  img {
    width: 60%;
    max-width: 400px;
    padding-top: $spacing-md;
    padding-bottom: $spacing-sm;
  }
  p {
    color: #222222;
    font-family: $ff-lato;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 0.8;
  }
  h6 {
    color: #4A6456;
    font-family: $ff-open;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: $spacing-sm;
    line-height: $lh-sm;
  }
  a>h6 {
    padding-top: 30px;
    font-family: $ff-lato;
    padding-bottom: $spacing-sm;
    font-weight: 400;
    font-size: 16px;
    color: #FA6D22;
  }
  a.btn {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  }
  .phone-number {
    line-height: $lh-sm;
    color: #47607E;
    font-family: $ff-lato;
    font-weight: 900;
    margin-bottom: $spacing-sm;
    a:hover {
      color: #3B5170 !important;
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .phone-number-2 {
    color: #575757;
  }
  .btn {
    margin-top: $spacing-md;
    margin-bottom: $spacing-sm;
  }
  h6:last-child {
    padding-bottom: $spacing-lg;
  }
}

#google-map5 {
  height: 900px;
  @media (max-width: $width-md) {
    height: 300px;
  }
}

.hours-table {
  //color: $c-grey-location;
  padding-bottom: $spacing-md;
  h5 {
    color: $c-grey-red;
    text-transform: uppercase;
    font-family: $ff-lato;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 21px;
  }
  th {
    width: 1px;
    white-space: nowrap;
    padding-right: 20px;
    text-align: left;
  }

  td {
    text-align: left;
  }

  table {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

