#section-services {
  .heading {
    background-color: #47A6AF;
    padding-top: 45px;
    padding-bottom: 30px;
    h2, p, a {
      @include link-color(white);
    }
    a {
      text-decoration: underline;
    }

  }

  .services--featured {
    //override bootstrap grid gutters
    .col-sm-6 {
      padding-left: 0;
      padding-right: 0;
    }
    .text-wrapper-one {
      background-color: #5D9BC0;
    }
    .text-wrapper-two {
      background-color: #148CAE;
    }

    @media screen and (min-width: $width-sm +1) {
      .row {
        display: flex;
      }
      .vertical-wrapper {
        @include vertical-center();
      }
    }

    .text {
      padding-left: 40px;
      padding-right: 40px;
      h2, p {
        color: #ffffff;
      }
      .btn {
        background-color: #297CAD;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 30px;
        @media screen and (max-width: $width-sm) {
          margin-bottom: 60px;
        }
      }
      .mobile-image-wrapper {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        img { max-width: 300px; }
      }
    }
  }

  .services--additional {
    //override bootstrap grid gutters
    .col-sm-6, .col-md-3 {
      padding-left: 0;
      padding-right: 0;
      position: relative;
      @media screen and (max-width: $width-sm) and (min-width: 550px) {
        width: 50%;
        float: left;
      }
    }

    img {
      width: 100%;
    }

    .services--thumbnail-text {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &.even {
        background-color: rgba(#48A6AF, 0.74);
      }
      &.odd {
        background-color: rgba(#5D9BC0, 0.74);
      }
      h6 {
        a { @include link-color(#ffffff); }
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        font-family: $ff-open;
      }
      .services-plus {
        a:hover {
          text-decoration: none;
        }
        width: 30px;
        height: 30px;
        line-height: 0.3;
        border: solid 2px #ffffff;
        border-radius: 9999px;
        text-align: center;
        font-size: 22px;
      }
    }
  }

}

.services-carousel {
  background-color: #C9CFC4;
  .container-fluid {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .service-item {

    a { @include link-color($c-grey-red); }

    &--image {
      @include hover-plus();
      &:hover:before {
        border-radius: 30px;
      }
      img {
        border-radius: 30px;
        border: solid 2px white;
      }
    }

    h5 {
      text-align: center;
      font-family: $ff-open;
      font-weight: 400;
      color: #536c5e;
      padding-top: 15px;
      @include font-size(18px, 14px, 15px, 14px, 14px);
    }
  }
}

.service-modal-wrapper {
  & .modal-title {
    @include h3;
    font-family: $ff-open;
    font-weight: 700;
    color: $c-grey-red;
    padding-top: 10px;
  }
  & p {
    color: $c-grey-red;
    padding-bottom: 15px;
  }
  .modal-image {
    text-align: center;
    @media screen and (max-width: $width-md) {
      display: none;
    }
  }
  img {
    max-width: 270px;
    padding-bottom: 20px;
  }
}
