#section-services {
  .heading {

  }

  .services--featured {

    //override bootstrap grid gutters
    .col-sm-6 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .services--additional {

  }
}

.services-carousel {
  background-color: #C9CFC4;
  .container-fluid {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .service-item {

    a { @include link-color($c-grey-red); }

    &--image {
      @include hover-plus();
      &:hover:before {
        border-radius: 30px;
      }
      img {
        border-radius: 30px;
        border: solid 2px white;
      }
    }

    h5 {
      text-align: center;
      font-family: $ff-roboto-condensed;
      font-weight: 400;
      color: #536c5e;
      padding-top: 15px;
      @include font-size(18px, 14px, 15px, 14px, 14px);
    }
  }
}

.service-modal-wrapper {
  & .modal-title {
    @include h3;
    font-family: $ff-mont;
    font-weight: 700;
    color: $c-grey-red;
    padding-top: 10px;
  }
  & p {
    color: $c-grey-red;
    padding-bottom: 15px;
  }
  .modal-image {
    text-align: center;
    @media screen and (max-width: $width-md) {
      display: none;
    }
  }
  img {
    max-width: 270px;
    padding-bottom: 20px;
  }
}
