#section-specials {

    background-image: url('/assets/specials-bg.jpg');
    @include parallax-background;


  .heading {

    padding-top: $spacing-md;
    padding-bottom: $spacing-md;

    h2 {
      font-weight: 100;
      color: #5FB3E5;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    h3 {
      font-weight: 400;
      color: #0D5794;
      margin-bottom: 0;
    }
  }

  .card-wrapper {
    height: 100%;
    padding: 15px;
  }

  .card {
    //height fix
    display: flex;
    flex-direction: column;

    border: solid 2px white;
    text-align: center;
    height: 100%;
    border-radius: 0.1px;
    color: $c-white;


    .top {
      height: 180px;
      border-bottom: 5px solid rgba(255, 255, 255, 0);
      .price {
        position: relative;
        display: inline-block;
        border-radius: 9999px;
        //border: solid 8px white;
        height: 150px;
        width: 150px;
      }
      h1 {
        color: $c-white;
        margin-bottom: 0;
        padding: $spacing-sm;
        padding-top: 30px;
        padding-left: 25px;
        line-height: $lh-xs;
        font-family: $ff-open;
        font-weight: 700;
        font-size: 84px !important;
        &:before {
          font-family: $ff-lato;
          content: '$';
          font-size: 36px;
          font-weight: 300;
          position: absolute;
          top: $spacing-md;
          left: 10px;
        }
      }
      h3 {
        font-family: $ff-open;
        color: $c-white;
        margin-bottom: 0;
        line-height: $lh-sm;
        padding-top: $spacing-md;
        @include font-size(32px, 26px, 25px, 30px, 24px);
        font-weight: 900;
        padding-bottom: $spacing-sm;
        text-transform: uppercase;
      }
    }

    .bottom {
      height: 100%;

      background-color: rgba($c-white, 1);
      // Savings
      h6:first-child {
        padding-top: 100px;
        color: #ffffff;
        text-transform: uppercase;
        @include h5;
        font-family: $ff-lato;
        font-weight: 400;
      }
      .copy {
        font-family: $ff-open;
        padding-left: $spacing-sm;
        padding-right: $spacing-sm;
        color: white;
        font-weight: 400;
        margin-bottom: 80px;
      }
      p {
        font-size: 14px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 100%;
        padding-bottom: $spacing-sm;
        color: white;
      }
    }
  }
  .card-1, .card-1 .bottom {  background-color: #45B1D6;  }
  .card-2, .card-2 .bottom {  background-color: #8ABB86;  }
  .card-3, .card-3 .bottom {  background-color: #FFBE52;  }
  .card-1 .price {  background-color: #0A76B9;  }
  .card-2 .price {  background-color: #279567;  }
  .card-3 .price {  background-color: #FA6D22;  }

  .row {
    display: flex;
    padding-bottom: $spacing-xl;
    @media screen and (max-width: $width-md) {
      display: block;
      .card-wrapper {
        margin-top: 30px;
        margin-bottom: 15px;
      }
    }
  }
}